body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #fffaec;
    position: relative;
}

nav {
    padding: 25px 0 25px 25px;
    background-color: #f5ecd5;
    border-radius: 25px 0 0 25px;
}

.nav--section {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 15px;
}

nav section button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    color: #578e7e;
    background-color: #f5ecd5;
    font-size: .85em;
    padding: 15px 10px;
    border: none;
    border-radius: 25px 0 0 25px;
    cursor: pointer;
}

nav section button:hover {
    background-color: #fffaec;
}

main {
    display: grid;
    padding: 50px;
    border: 2px solid #f5ecd5;
    border-left: none;
    border-radius: 0 25px 25px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3d3d3d;
    font-size: 1.5em;
}

main header input {
    margin: 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #f5ecd5;
    padding: 10px;
    border-radius: 25px;
}

#checkbox--make-default {
    appearance: none;
    cursor: pointer;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
}

#checkbox--make-default:checked {
    background-color: #3d3d3d;
}

#checkbox--make-default:hover {
    background-color: #3d3d3d;
}

header label {
    font-size: .4em;
}

section {
    color: #578e7e;
}

.main--section {
    margin: 25px;
}

.todo--container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 10px;
    font-size: .75em;
    background-color: #f5ecd5;
    border-radius: 25px;
}

.checkbox--complete-status {
    appearance: none;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
}

.checkbox--complete-status:checked {
    background-color: #578e7e;
}

.checkbox--complete-status:hover {
    background-color: #578e7e;
}

.todo--name {
    justify-self: start;
}

.todo--edit,
.todo--delete,
.btn--add-list {
    display: grid;
    align-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #f5ecd5;
}

.btn--add-todo {
    display: grid;
    align-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #fffaec;
}

img {
    width: 3em;
}

main input,
header button,
main section button {
    height: 25px;
    width: 25px;
}

footer {
    justify-self: end;
}

.btn--delete-list,
.new-list--btn--cancel,
.new-list--btn--add,
.delete-list--btn--cancel,
.delete-list--btn--delete,
.delete-todo--btn--cancel,
.delete-todo--btn--delete {
    color: #fffaec;
    background-color: #3d3d3d;
    padding: 5px 15px;
    border: 1px solid #3d3d3d;
    border-radius: 25px;
    cursor: pointer;
}

.btn--delete-list:hover,
.new-list--btn--cancel:hover,
.new-list--btn--add:hover,
.delete-list--btn--cancel:hover,
.delete-list--btn--delete:hover,
.delete-todo--btn--cancel:hover,
.delete-todo--btn--delete:hover {
    color: #3d3d3d;
    background-color: #fffaec;
    border: 1px solid #3d3d3d;
}

.dialog--new-list,
.dialog--new-todo,
.dialog--delete-list,
.dialog--delete-todo {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    padding: 50px;
    border: none;
    border-radius: 25px;
    background-color: #fffaec;
    box-shadow: 5px 2.5px 5px #f5ecd5;
    display: grid;
    row-gap: 25px;
}

.new-list--heading,
.new-todo--heading,
.delete-list--heading,
.delete-todo--heading {
    font-size: 1.25em;
    color: #3d3d3d;
}

.new-list--form,
.new-todo--form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    font-size: .75em;
    color: #578e7e;
}

.new-list--form label,
.new-todo--form label {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.new-list--form input[type="text"],
.new-todo--form input[type="text"],
.new-todo--form textarea {
    background-color: #f5ecd5;
    border: 1px solid #f5ecd5;
    border-radius: 25px;
    padding: 5px 15px;
    color: #3d3d3d;
}

.new-list--form input[type="text"]:focus,
.new-todo--form input[type="text"]:focus,
.new-todo--form textarea:focus {
    outline: none;
    border: 1px solid #578e7e;
}

.new-list--form input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #f5ecd5;
    border-radius: 50%;
    background-color: #f5ecd5;
}

.new-list--form input[type="checkbox"]:focus {
    outline: none;
    border: 1px solid #578e7e;
}

.new-list--form input[type="checkbox"]:hover {
    background-color: #3d3d3d;
}

.new-list--form input[type="checkbox"]:checked {
    background-color: #3d3d3d;
}

.new-list--btn-container,
.new-todo--btn-container,
.delete-list--btn-container,
.delete-todo--btn-container {
    justify-self: end;
}