body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #fffaec;
}

nav {
    padding: 25px;
    background-color: #f5ecd5;
}

main {
    margin: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3d3d3d;
    font-size: 1.5em;
}

.checkbox-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #f5ecd5;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    border-left: 1px solid #3d3d3d;
}

#checkbox--make-default {
    appearance: none;
    cursor: pointer;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
}

#checkbox--make-default:checked {
    background-color: #3d3d3d;
}

#checkbox--make-default:hover {
    background-color: #3d3d3d;
}

header label {
    font-size: .4em;
}

section {
    color: #578e7e;
}

.main--section {
    margin: 25px;
}

.todo--container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 10px;
    font-size: .75em;
    background-color: #f5ecd5;
    border-radius: 25px;
}

.todo--name {
    justify-self: start;
}

.checkbox--complete-status {
    appearance: none;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
}

.checkbox--complete-status:checked {
    background-color: #578e7e;
}

.checkbox--complete-status:hover {
    background-color: #578e7e;
}

.todo--edit,
.todo--delete,
.btn--add-list {
    display: grid;
    align-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #f5ecd5;
}

.btn--add-todo {
    display: grid;
    align-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #fffaec;
}

img {
    width: 3em;
}

main input,
header button,
section button {
    height: 25px;
    width: 25px;
}

main header input {
    margin: 0;
}

